# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @D-McAdams @emina @shaobo-he-aws @cdisselkoen @john-h-kastner-aws @adpaco-aws @chaluli @katherine-hough @lianah @adowair @patjakdev @YanranZeng1 @eitanre2 @tpaulus @victornicolet @iamatjlovelock @luxas 
